<ion-view view-title="Current Weather">
  <ion-content>
    <div class="list">
      <div class="item">Current Conditions: {{wc.weather.weather[0].main}}</div>
      <div class="item">Current Temperature: {{wc.weather.main.temp}}&deg;</div>
      <div class="item">Humidity: {{wc.weather.main.humidity}}%</div>
      <div class="item">Today's High: {{wc.weather.main.temp_max}}&deg;</div>
      <div class="item">Today's Low: {{wc.weather.main.temp_min}}&deg;</div>
      <div class="item">Wind: {{wc.weather.wind.speed}}mph, {{wc.weather.wind.deg | direction}}</div>
    </div>
  </ion-content>
</ion-view>
